html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Custom styles for form element padding */
input[type="text"], input[type="password"], input[type="email"], input[type="number"], 
input[type="tel"], input[type="url"], input[type="search"], textarea, select {
  padding: 8px 12px !important;
  margin: 4px 0;
}

input[type="submit"], button {
  padding: 8px 16px !important;
  margin: 4px 4px 4px 0;
}